<div class="joke_container">

  <div class="thumb_buttons_container">
    <div class="thumbup_button_container">
      <div class="thumbup_button">
        <%= link_to image_tag("thumb_up.png", :size => "150x150"), thumb_up_joke_path(@joke), :class => "button", :method => :get %>
      </div>
      <div class="thumbup_button_count">
        <%= @joke.thumb_up %>
      </div>
    </div>
    <div class="thumbdown_button_container">
      <div class="thumbdown_button">
        <%= link_to image_tag("thumb_down.png", :size => "150x150"), thumb_down_joke_path(@joke), :class => "button", :method => :get %>
      </div>
      <div class="thumbdown_button_count">
        <%= @joke.thumb_down %>
      </div>
    </div>
  </div>
  <div class="joke_image">
    <%= image_tag @joke.image %>
  </div>
    <div class="thumb_buttons_container">
    <div class="thumbup_button_container">
      <div class="thumbup_button">
        <%= link_to image_tag("thumb_up.png", :size => "150x150"), thumb_up_joke_path(@joke), :class => "button", :method => :get %>
      </div>
      <div class="thumbup_button_count">
        <%= @joke.thumb_up %>
      </div>
    </div>
    <div class="thumbdown_button_container">
      <div class="thumbdown_button">
        <%= link_to image_tag("thumb_down.png", :size => "150x150"), thumb_down_joke_path(@joke), :class => "button", :method => :get %>
      </div>
      <div class="thumbdown_button_count">
        <%= @joke.thumb_down %>
      </div>
    </div>
  </div>
</div>