<p id="notice"><%= notice %></p>

<div id="container">
  <div class="thumb_buttons">
    <%= link_to 'thumb_up', thumb_up_joke_path(@joke) %>
    <%= @joke.thumb_up %>
    <%= link_to 'thumb_down', thumb_down_joke_path(@joke) %>
    <%= @joke.thumb_down %>
  </div>
  <div id="image">
    <%= image_tag @joke.image %>
  </div>
</div>