<!DOCTYPE html>
<html>

  <head>
    <title>Joke.ready</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <div class="navbar">

      <p class="joke_function">Joke.ready = true</p>

      <button class="navbar_buttons btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#myModal">Submit your joke</button></br>

      <a class="navbar_buttons btn btn-primary btn-lg" href="/jokes">View all jokes</a>

      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Are you laughing now? Don't submit if you are not.</h4>
          </div>

          <div class="modal-body">
            <%= form_for Joke.new, :html => {:multipart => true} do |f| %>
              <p><%= f.file_field :image %></p>
              <p><%= f.hidden_field :description %></p>
              <p><%= f.submit "Submit Joke" %></p>
            <% end %>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">You don't have joke :(</button>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="content">
      <%= yield %>
    </div>



    <%= javascript_include_tag 'application' %>
  </body>

</html>
